body {
    margin: 0;
    padding: 0;
}

.container>nav {
    background-image: url('../image/1.png');
    background-repeat: repeat-x;
    background-size: 110px;
    height: 25px;
    width: 100%;
    position: relative;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

header {
    background-color: rgba(0, 0, 0, 0.534);
    background-size: 100% 100%;
    height: 80px;
    font-family: 'Tahoma';
    position: relative;
}

.icon {
    line-height: 20px;
    font-size: 15px;
    text-align: right;
    padding: 10px;
    color: rgba(255, 255, 255, 0.678);
}

.icon a {
    line-height: 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding-bottom: 10px;
}

.icon>a:hover,
.icon>i:hover {
    color: rgba(99, 95, 95, 0.849);
}

.logo>i {
    position: absolute;
    text-align: center;
    top: 15px;
    left: 40px;
    font-size: 50px;
    font-family: 'Brush Script MT';
    color: rgb(196, 19, 19);
}

.logo>i:hover {
    transform: scale(1.4);
    color: rgb(196, 19, 19);
    text-shadow: 0 0 15px rgb(128, 9, 9);
}

.topmenu {
    position: absolute;
    width: 100%;
    line-height: 40px;
}

header>.topmenu>ul {
    position: absolute;
    top: -20px;
    left: 200px;
    text-align: center;
    text-align: right;
}

.topmenu ul {
    list-style: none;
    display: inline-block;
}

.topmenu>ul>li {
    text-align: center;
    display: inline-block;
    position: relative;
}

.topmenu>ul>li>a {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
    line-height: 20px;
    margin: 0 15px;
    font-size: 20px;
}

.topmenu>ul>li>a:hover {
    color: rgb(92, 91, 91);
    text-decoration: none;
}

.topmenu ul ul {
    width: 100%;
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background: rgba(128, 128, 128, 0.541);
}

.topmenu ul ul a {
    line-height: 20px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 0 10px;
    display: block;
}

.topmenu ul ul a:hover {
    box-shadow: 0 0 2px black;
}

.topmenu>ul>li:hover>ul {
    display: block;
}

article {
    position: absolute;
    padding: 0px;
    position: relative;
}

aside {
    position: absolute;
    top: 80px;
    left: 50px;
    width: 30%;
    min-height: 350px;
    float: left;
}

article>aside>img {
    width: 100%;
    height: 350px;
}

article>main {
    position: absolute;
    top: 80px;
    right: 300px;
    width: 30%;
    min-height: 300px;
}

main {
    position: relative;
}

article>main ul {
    list-style: none;
    line-height: 40px;
}

main>.ten {
    color: black;
    font-size: 25px;
}

main .danhgia>i {
    color: rgb(241, 215, 64);
}

main .tien>i {
    color: green;
}

main del {
    font-size: 18px;
    margin: 10px;
    color: rgba(128, 128, 128, 0.719);
}

main .tien {
    font-size: 22px;
}

main>.soluong {
    position: absolute;
    bottom: 58px;
    left: 40px;
}

.osoluong {
    margin: 10px;
    width: 30px;
    height: 30px;
    outline: none;
    border: 1px solid gray;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
}

main>.dat {
    line-height: 30px;
    position: absolute;
    bottom: 0px;
    left: 30px;
    text-align: center;
}

.dat>button {
    border-radius: 2px;
    height: 40px;
    width: 100px;
    border: none;
    outline: none;
    margin: 10px;
    color: white;
    font-size: 18px;
    background-color: rgb(235, 100, 100);
}

main>.gio {
    line-height: 30px;
    position: absolute;
    bottom: 0px;
    left: 150px;
    text-align: center;
}

.gio>button {
    border-radius: 2px;
    height: 40px;
    width: 150px;
    border: none;
    outline: none;
    margin: 10px;
    color: white;
    font-size: 18px;
    background-color: rgb(235, 100, 100);
}

main>.dat>button:hover,
.gio>button:hover {
    transform: scale(1.05);
    background-color: rgb(245, 42, 42);
}

.anhminhhoa {
    width: 100%;
    height: auto;
}

.hinhanh {
    position: absolute;
    clear: both;
    height: 100px;
    width: 510px;
    margin: 10 10px;
    bottom: 40px;
    left: 10px;
}

.hinhanh>.anh {
    width: 33%;
    float: left;
}

.hinhanh>.anh>img {
    width: 100%;
    height: 100px;
}

.hinhanh>.anh>img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgb(116, 109, 109);
}

.goiy {
    padding-top: 600px;
    clear: both;
    width: 100%;
}

.goiy>.title {
    width: 80px;
    height: 40px;
    line-height: 40px;
    border-radius: 0 5px 5px 0;
    background-color: rgb(55, 182, 55);
    color: white;
    font-size: 22px;
    transition: width 2s
}

.goiy>.title:hover {
    width: 150px;
    text-align: right;
}

.column {
    width: 25%;
    height: 300px;
    float: left;
}

.san_pham {
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    margin: 5px;
    padding: 5px;
    text-align: center;
    position: relative;
}

.san_pham .ten {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(29, 24, 24);
    text-align: left;
    font-size: 20px;
    right: 10px;
    font-weight: bold;
}

.san_pham>.image {
    max-width: 70%;
    height: 150px;
    margin-bottom: 10px;
}

.san_pham .giasale {
    color: rgb(194, 33, 33);
    font-size: larger;
    text-align: left;
    font-size: 18px;
}

.column .gia {
    color: green;
    font-size: larger;
    text-align: left;
    font-size: 18px;
}

.san_pham .giasale del {
    text-align: left;
    font-size: 15px;
    color: gray;
}

.san_pham>.icon {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 15px;
}

.column .icon>img {
    width: 15px;
    height: 15px;
}

.column .icon>i {
    width: 15px;
    height: 15px;
    color: rgb(245, 141, 141);
}

.column .icon>i:hover {
    color: red;
}

.san_pham>.new-icon {
    position: absolute;
    top: 0px;
    right: 0px;
}

.new-icon>img {
    width: 50px;
    height: 50px;
}

img:hover {
    overflow: hidden;
    transform: scale(1.05);
}

.san_pham:hover {
    box-shadow: 0 0 5px green;
}

.datmon {
    display: none;
    width: 98%;
    line-height: 30px;
    background-color: green;
    border-radius: 3px;
}

.san_pham:hover>.datmon {
    display: block;
}

.san_pham:hover>.icon {
    bottom: 35px;
}

.datmon:hover {
    box-shadow: inset 0 0 5px rgb(6, 41, 6);
}

footer {
    padding: 0;
    margin: 0;
    position: relative;
    padding-bottom: 0;
    clear: both;
    border-top: 3px double rgb(70, 67, 67);
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.527);
}

.foot {
    position: relative;
    width: 33.3%;
    height: 300px;
    float: left;
    background-color: rgba(128, 128, 128, 0.527);
}

footer h1 {
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    font-family: 'Brush Script MT';
    color: rgb(75, 13, 13);
}

footer .footten:hover {
    transform: scale(1.3);
    text-shadow: 0 0 5px rgb(44, 40, 40);
}

.footten {
    position: absolute;
    font-size: 50px;
    font-family: 'Brush Script MT';
    color: rgb(75, 13, 13);
    top: 50%;
    left: 50%;
}

.thongtin {
    color: green;
}

.fb-like {
    position: absolute;
    bottom: 20px;
    left: 200px;
    background-color: aqua;
    height: 20px;
    width: 20px;
}

footer {
    width: 100%;
    height: 370px;
}