body {
    margin: 0;
    padding: 0;
    width: 100%;
}

nav {
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
    position: relative;
}

.backgrouptop {
    background-image: url('/image/1.png');
    background-repeat: repeat-x;
    background-size: 110px;
    height: 25px;
    width: 100%;
    position: relative;
}

nav>header {
    background-color: rgba(0, 0, 0, 0.534);
    background-size: 100% 100%;
    height: 80px;
    font-family: 'Tahoma';
    position: relative;
}

nav .icon {
    line-height: 20px;
    font-size: 15px;
    text-align: right;
    padding: 10px;
    color: rgba(255, 255, 255, 0.678);
}

nav .icon a {
    line-height: 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding-bottom: 10px;
}

nav .icon>a:hover,
nav .icon>i:hover {
    color: rgba(99, 95, 95, 0.849);
}

.logo>i {
    position: absolute;
    text-align: center;
    top: 15px;
    left: 40px;
    font-size: 50px;
    font-family: 'Brush Script MT';
    color: rgb(196, 19, 19);
}

.logo>i:hover {
    transform: scale(1.4);
    color: rgb(196, 19, 19);
    text-shadow: 0 0 15px rgb(128, 9, 9);
}

nav .topmenu {
    margin: auto;
    width: 100%;
    line-height: 40px;
    position: absolute;
    top: 20px;
    left: 20%;
}

nav>header>.topmenu>ul {
    position: absolute;
    text-align: center;
    list-style: none;
    display: inline-block;
}

nav .topmenu>ul>li {
    text-align: center;
    display: inline-block;
    position: relative;
}

nav .topmenu>ul>li>a {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
    line-height: 20px;
    margin: 0 15px;
    font-size: 20px;
}

nav .topmenu>ul>li>a:hover {
    color: rgb(92, 91, 91);
    text-decoration: none;
}

nav .topmenu ul ul {
    width: 100%;
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background: rgba(128, 128, 128, 0.541);
}

nav .topmenu ul ul a {
    line-height: 20px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 0 10px;
    display: block;
}

nav .topmenu ul ul a:hover {
    box-shadow: 0 0 2px black;
}

nav .topmenu>ul>li:hover>ul {
    display: block;
}

main {
    width: 90%;
    margin: auto;
}

aside {
    width: 40%;
    height: 500px;
    float: left;
}

article {
    width: 90%;
    height: 500px;
    margin-left: 20px;
}

aside>img {
    width: 100%;
    height: 49%;
}

.tintuc {
    width: 90%;
    height: 100px;
    margin: 30px;
}

.tintuc>.fb {
    margin: auto;
    position: relative;
}

.fb a {
    position: absolute;
    top: 40px;
    left: 50%;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Brush Script MT';
    color: rgb(75, 13, 13);
}

.fb i {
    color: blue;
}

.tintuc .gg {
    margin: auto;
    position: relative;
}

.gg a {
    position: absolute;
    top: 40px;
    left: 50%;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Brush Script MT';
    color: rgb(75, 13, 13);
}

.tintuc .map {
    margin: auto;
    position: relative;
}

.map a {
    position: absolute;
    top: 40px;
    left: 50%;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Brush Script MT';
    color: rgb(75, 13, 13);
}

.map img {
    height: 30px;
    width: 30px;
}

.tintuc .inta {
    margin: auto;
    position: relative;
}

.inta a {
    position: absolute;
    top: 40px;
    left: 50%;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Brush Script MT';
    color: rgb(75, 13, 13);
}

.inta img {
    height: 30px;
    width: 30px;
}

footer {
    margin-top: 50px;
    width: 100%;
    height: 370px;
}

a:hover {
    font-size: 33px;
}