body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(211, 204, 204);
}

.container {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

header {
    background-image: url('../image/homemain.jpg');
    background-size: 100% 100%;
    padding-bottom: 30%;
    font-family: 'Tahoma';
    position: relative;
}

.icon {
    line-height: 20px;
    font-size: 30px;
    text-align: right;
    padding: 10px;
    color: rgba(255, 255, 255, 0.678);
}

.icon a {
    line-height: 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding-bottom: 10px;
}

.icon>a:hover,
.icon>i:hover {
    color: rgba(99, 95, 95, 0.849);
}

.topmenu {
    width: 100%;
    top: 35px;
    line-height: 40px;
}

.logo>i {
    position: fixed;
    text-align: left;
    top: 15px;
    left: 40px;
    font-size: 50px;
    font-family: 'Brush Script MT';
    color: rgb(196, 19, 19);
}

.logo>i:hover {
    color: rgb(196, 19, 19);
    text-shadow: 0 0 15px rgb(128, 9, 9);
}

.topmenu {
    width: 100%;
    top: 35px;
    line-height: 40px;
}

.topmenu .logo {
    position: fixed;
    text-align: left;
    top: 15px;
    left: 40px;
    font-size: 50px;
    font-family: 'Brush Script MT';
    color: rgb(196, 19, 19);
}

.topmenu .logo:hover {
    transform: scale(1.4);
    color: rgb(196, 19, 19);
    text-shadow: 0 0 15px rgb(128, 9, 9);
}

.topmenu>ul {
    position: fixed;
    right: 10px;
    text-align: right;
}

.topmenu ul {
    list-style: none;
    display: inline-block;
}

.topmenu>ul>li {
    text-align: center;
    display: inline-block;
    position: relative;
}

.topmenu>ul>li>a {
    color: white;
    text-decoration: none;
    line-height: 50px;
    margin: 0 15px;
    font-size: 22px;
}

.topmenu>ul>li>a:hover {
    color: rgb(92, 91, 91);
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s linear;
}

.topmenu ul ul {
    width: 100%;
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background: rgba(128, 128, 128, 0.541);
}

.topmenu ul ul a {
    line-height: 20px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 0 10px;
    display: block;
}

.topmenu ul ul a:hover {
    box-shadow: 0 0 2px black;
}

.topmenu>ul>li:hover>ul {
    display: block;
}

nav>p {
    border-radius: 5px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    background-color: grey;
    color: rgb(36, 33, 33);
    font-family: 'Times New Roman', Times, serif;
}

nav>p:hover {
    color: rgb(17, 16, 16);
    text-shadow: 0 0 5px rgb(41, 38, 38);
    box-shadow: 0 0 5px rgb(39, 37, 37);
}

article {
    text-align: center;
}

.doan1 {
    line-height: 50px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: 30px;
    float: inline-start;
    text-align: center;
}

.doan1>img {
    width: 25%;
    height: 250px;
    border-radius: 50%;
    padding: 1%;
    margin: 0.5%;
}

.doan2 {
    clear: both;
    line-height: 50px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: 30px;
}

.doan2>img {
    width: 60%;
    height: 60%;
    padding: 1%;
    margin: 0.5%;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Brush Script MT';
}

h1:hover {
    text-shadow: 0 0 5px rgb(44, 40, 40);
}

h2 {
    color: rgb(26, 173, 75);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

h2:hover {
    text-shadow: 0 0 3px rgb(13, 110, 13);
}

p {
    text-align: center;
}

footer {
    width: 100%;
    height: 370px;
}